/* No me funciona el backgroud no repeat en mi navegador firefox*/
/* Hay dos formas de manejar lo que son los fondos de una pagina web, una las propiedades  separadas y la otra las propiedades en linea*/

body {
	background:#B2ACAC;
	background: url(https://mrcarrasco.000webhostapp.com/practicas/css/img/natu.jpg);
 	background-repeat: no-repeat;
	background-size:cover;
	background-attachment: fixed;
	font-size: 45px;
	background-position: center center;

	/*background: url(../images/natu.jpg)  fixed center center;
	background-size: cover;*/
}

p{
	font-size: 2em;
}

/*.fondo{
	width: 600px;
	height: 600px;
	background: url(../images/paper_1.png) #000;
	background-repeat: no-repeat;
	background-size: 50% ;
}*/